{% extends 'base/base.html' %}

{% load static %}


{% block content %}

    <div style="margin:7em;">
        <img src="../../../static/images/hello_html_9be5246.png" style="float:left;margin-left:5em;">
        <div style="margin-left:850px; margin-top:8em;">
            <script type="text/javascript" id="WolframAlphaScriptc843f3d64dafd33e579f6cb1543b9009"
                    src="//www.wolframalpha.com/widget/widget.jsp?id=c843f3d64dafd33e579f6cb1543b9009"></script>
        </div>
        <a onclick="javascript:history.back(); return false;" style="position: fixed; left:20px; z-index: 9999; background: #ffa500; padding: 0px 5px 0px 5px; margin: 5px 10px 10px 5px; height:1.8em; width:3em; padding-top:5px;">Назад</a>
    </div>
{% endblock %}
